*{
    background-color: cornflowerblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form{
    text-align: center;
    background-color: lightslategray;
    margin: 20%;
    padding:5%;
}

